---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="Contactez nous"
      description="Ecrivez nous, notre équipe vous repondra selon votre besoin communiqué"
    />
    <Form />
  </div>
</Section>
