---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="temoignages">
  <div class="mt-20">
    <SectionTitle
      sectionTitle="Temoignages"
      description="Voyez les retours d'experiences avec ce que disent les parents d'éleves de nous ."
    />
    <div class="rounded-[45px] bg-dark mb-[150px] text-white">
      <SwiperSlider />
    </div>
  </div>
</Section>
